@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

#mainPageLink {
  background-color: #ccffff;
  border-style: dotted;
  padding: 10px;
}

#mainPageLink:hover {
  background-color: #00b3b3;
  border-style: dotted;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Avant Garde', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
