@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

#mainPageLink {
  background-color: #ccffff;
  border-style: ridge;
  padding: 10px;
  /*border-color: black;*/
  border-width: 1px;
  border-radius: 8px;
}

#mainPageLink:hover {
  background-color: #00b3b3;
  border-style: groove;
  border-width: 1px;
  border-radius: 8px;
  /*border-color: black;*/
}

#about {
  border-style: none none none none;
  border-width: 5px;
}

#about:hover {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #00b3b3;
}

#experience {
  border-style: none none none none;
  border-width: 5px;
}

#experience:hover {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #00b3b3;
}

#projects {
  border-style: none none none none;
  border-width: 5px;
}

#projects:hover {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #00b3b3;
}

#music {
  border-style: none none none none;
  border-width: 5px;
}

#music:hover {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #00b3b3;
}

#contact {
  border-style: none none none none;
  border-width: 5px;
}

#contact:hover {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #00b3b3;
}

#profPic {
  box-shadow: 1em 1em #808080;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Avant Garde', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
