@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

#mainPageLink {
  border-style: ridge;
  padding: 10px;
  /*border-color: black;*/
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 1em 1em #808080;
}

#mainPageLink:hover {
  border-style: groove;
  border-width: 1px;
  border-radius: 8px;
  /*border-color: black;*/
  box-shadow: 1em 1em #808080;
}

#selection {
  border-style: none none none none;
  border-width: 5px;
}

#selection:hover {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #00b3b3;
}

#profPic {
  box-shadow: 1em 1em #808080;
}

#videoFrame {
  align: center;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 1em 1em #808080;
}

#projectImage {
  align: center;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 1em 1em #808080;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Avant Garde', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
